%ul.top_menu_bar{:type => 'none'}
  %li
    %a{:href => root_path}
      首页
  %li
    %a{:href => root_path}
      子页1
  %li
    %a{:href => root_path}
      子页2
  %li
    %a{:href => root_path}
      子页3
  %li
    %a{:href => root_path}
      子页4
