<!DOCTYPE html>
<html>
<head>
  <title>LanSite</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= webpack_javascripts_tag 'pages.homepage' %>
</head>

<body>
  <%= yield %>
</body>
</html>
